#myCanvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 800px;
    height: 600px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
/* Permet de centrer horizontalement ET verticalement le Canvas */
/* Source : https://stackoverflow.com/questions/5127937/how-to-center-canvas-in-html5 */
